@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* new css */

.styled-table {
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.container h1{
    margin-left: 20px;
}

.title1, .title2 {
    font-family:  Arial, Helvetica, sans-serif;
}

.title1 {
    font-weight: 100;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(104, 84, 133);
}